
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  #navbar {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  #navbar {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  #navbar {
    font-size: 55%;
  }
}
/* 
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

img {
  display: flex;
} */



